{% set home_dir = salt['environ.get']('HOME') %}
{% set ubuntu_version = 'trusty' %}

{% set vars = {
  'user' : 'default_user',
  'firstname': 'default',
  'lastname': 'user',
  'email': 'default_user@test.com',
  'home_dir' : home_dir,
  'ubuntu_version': ubuntu_version,
} %}
